<div id="<%= dom_id project_assignment %>">
    <div class="row">
        <div class="col">
            <%= project_assignment.project.name %>
            -&gt
            <%= project_assignment.user.username %>
        </div>
    </div>
</div>
