<div id="<%= dom_id user %>">
    <div class="row">
        <div class="col">
            <% if user.is_admin? %>
            A - 
            <% end %>
            <%= user.username %>
        </div>
    </div>
</div>
