<div class="row">
  <div class="col">
    <p style="color: green"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1>Users</h1>
  </div>
</div>

<div id="users">
  <% @users.each do |user| %>
      <%= render user %>
  <div class="row">
    <div class="col">
      <%= link_to "Show this user", user, class: 'btn btn-outline-dark' %>
    </div>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col">
    <%= link_to "New user", new_user_path, class: 'btn btn-dark' %>
  </div>
</div>

