<div id="<%= dom_id project %>">

  <div class="row">
    <div class="col">
      <strong>Name:</strong>
    </div>
  </div>  
  <div class="row">
    <div class="col">
      <%= project.name %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <strong>Description:</strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= project.description %>
    </div>
  </div>
</div>
