<h1>New project</h1>

<%= render "form", project: @project %>

<div class="row">
  <div class="col">
    <%= link_to "Back to projects", projects_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
